.signInCard {
  display: flex;
  flex-direction: column;
  display: -ms-flexbox;
  width: 720px;
  -ms-flex-align: center;
}

.signInCardTitle {
  font-size: 1.25rem;
  font-weight: 500;
  color: rgb(87, 101, 116);
  font-family: "Lato";
  margin: 20px;
}

.rainbow-p-around_medium {
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

.input-group {
  flex-direction: column;
}
.container {
  padding-top: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}
